.dropdownContainer {
  display: inline-flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  svg {
    color: var(--general-button-color);
  }
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--box-bg);
    width: 360px;
    box-shadow: var(--box-shadow);
    z-index: 999;
    color: var(--black600);
    border-radius: 0.15em;
  }

  .button {
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
    // width: 60%;
    display: flex;
    .iconContainer {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    .content {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      font-size: 2em;
      margin: 0;
      transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) transform;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

html[dir='rtl'] {
  .dropdown {
    right: initial;
    left: 0;
  }
}
