.headerWrapper {
  margin-bottom: 1em;
  padding: 5px 15px;
  display: flex;
  overflow: hidden;
  background: var(--t-head);
  .headerItem {
    padding: 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 0 0 transparent;
    text-overflow: ellipsis;
    height: 4.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    padding-left: 10px;
    white-space: normal;
    text-align: left;
    &.headerItemCenter {
      text-align: center;
    }
  }
}
