.rst__node {
  display: flex;

  .rst__lineBlock {
    flex: 0 0 auto;
  }

  .rst__nodeContent {
    left: auto !important;
    top: auto !important;
    position: relative !important;
    flex: 0 1 auto;
    width: 100%;
  }
  .rst__rowWrapper {
    padding: 5px;
    .rst__rowContents {
      padding: 0;
      border: none;
      background: transparent;
      box-shadow: none;
      height: 50px;
      border-radius: 0;
      .rst__rowLabel {
        width: 100%;
        padding: 0;
        height: 100%;
        border-radius: 0;
        .rst__rowTitle {
          height: 100%;
        }
      }
    }
  }
}

.rst__collapseButton,
.rst__expandButton {
  display: none;
}

.rst__placeholder,
.rst__placeholder > * {
  max-width: 100%;
}

.rst__lineHalfHorizontalRight::before,
.rst__lineFullVertical::after,
.rst__lineHalfVerticalTop::after,
.rst__lineHalfVerticalBottom::after {
  background-color: var(--contrast-color);
}

html[dir='rtl'] {
  .rst__node {
    display: flex;

    .rst__lineBlock {
      flex: 0 0 auto;
    }

    .rst__nodeContent {
      right: auto !important;
      top: auto !important;
      position: relative !important;
      flex: 0 1 auto;
      width: 100%;
    }
  }
}
