.tableRow {
  display: flex;
  background: var(--t-headl1);
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--contrast-color);
  height: 40px;
  width: 99%;
  box-shadow: -1px 2px 5px -2px var(--box-shadow-color);
  display: flex;

  &.group {
    &::before {
      content: '';
      width: calc(100% + 25px);
      height: 2px;
      position: absolute;
      left: -44px;
      top: -5px;
      // background: var(--dangerdl90);
    }
  }
}
