.stTd {
  overflow: hidden;
  transition: 0.3s ease;
  transition-property: width, min-width, padding, opacity;
  padding: 0 10px;
  border-right: 1px solid var(--box-shadow-color);
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  overflow: inherit;
  &:last-child {
    border-right: 1px solid transparent;
  }
  .stTdChild {
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  &.stTdActions {
    display: flex;
    justify-content: flex-end;
  }
}

html[dir='rtl'] {
  .stTd {
    border-right: none;
    border-right: 1px solid var(--box-shadow-color);
    &:last-child {
      border-left: none;
    }
  }
}
