.sortableTreeContainer {
  position: relative;
  height: calc(100% - 194px);
  &.sortableTreeContainerNotDrag {
    padding: 0 15px;
  }
}

.moveIcon {
  position: absolute;
  top: 0;
  left: -44px;
  height: 40px;
  width: 44px;
  background-color: var(--secondary);
  pointer-events: none;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-text-color-rezerve);
  box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
}

html[dir='rtl'] {
  .moveIcon {
    left: auto;
    right: -44px;
  }
}
