.loader {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 54px);
  background: var(--overlay-light);
  z-index: 999;
  display: none;

  &.resetStyle {
    top: 0;
    height: 100%;
  }
  svg {
    width: 48px;
    color: var(--primary-color);
    path {
      color: var(--primary-color);
      fill: var(--primary-color);
    }
  }

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .position {
    color: var(--primary-color-hover);
  }
}
