.ReactTable {
  border: 0;
  font-size: 0.9em;
  width: 100%;
  .reactTableCheckbox {
    padding: 0;
  }
  .rt-noData {
    padding: 0;
    background: transparent;
  }

  .rt-thead {
    margin-right: 0;
    z-index: 0;
    color: var(--t-head-title);
    background: var(--t-head);
    letter-spacing: 1px;
    font-size: 0.9em;
    width: 100%;
    align-items: self-end;
    min-width: fit-content !important;

    .rt-th {
      height: 4.8em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      padding-left: 10px;
      white-space: normal;
      text-align: left;
    }
    .rt-tr {
      position: relative;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      text-transform: uppercase;
      background: var(--t-head);
      min-width: fit-content;
      width: 100%;
      &.isDisable {
        color: var(--color30);
      }
    }
  }

  span[class~='reactTableCheckbox'] {
    color: var(--primary-color);
  }
  .rt-tbody {
    background: var(--t-headl1);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--contrast-color);
    min-width: fit-content !important;
    width: 100%;
    .rt-tr-group {
      box-shadow: var(--t-shadow);
      border: 0;
      flex: 0 0 auto;
      min-width: fit-content;
      width: 100%;
    }
    .rt-tr {
      position: relative;
      align-items: center;
      height: 4em;
      max-height: 4em;
      min-width: fit-content;
      width: 100%;
      &.isDisable {
        color: var(--color30);
      }

      .rt-td {
        padding-left: 10px;
        border-right: 1px solid var(--box-shadow-color);
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        overflow: inherit;
        &.centered {
          justify-content: center;
        }
        &:last-child {
          border-right: 0;
          justify-content: center;
        }
      }
    }
  }
}

html[dir='rtl'] {
  .ReactTable {
    .rt-thead {
      .rt-tr {
        padding-right: 0;
        padding-left: 0;
      }
      .rt-th {
        font-size: 1.2em;
        height: 3.8em;
        text-align: right;
        &:last-child {
          border-right: 1px solid var(--box-shadow-color);
        }
      }
    }
    .rt-tbody {
      .rt-tr {
        .rt-td {
          &:last-child {
            border-right: 1px solid var(--box-shadow-color);
          }
        }
      }
    }
  }
}
