.td-children {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.td-popup {
  color: var(--hard-light);
  width: 230px;
}
