@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/breakpoints';

.chartContainer {
  // padding: 0 1.5em 1em 1.5em;
  // background: var(--box-bg);
  // margin: 0.5em 0;
  // position: relative;
  // box-shadow: var(--box-shadow);
  text-align: center;
  // border-radius: 0.25em;

  .chartTitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em;
    text-align: center;
    color: var(--contrast-color);

    .chartInfo {
      font-weight: 400;
      font-size: 0.75em;
      margin-left: 1em;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 1em;
  }

  .rechartsLegendItem {
    margin: 0 2.5em !important;

    @include media-breakpoint-down(xs) {
      margin: 0 0.5em !important;
    }
  }
}

.tooltip {
  background: var(--box-bg);
  max-width: 200px;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: 8px;

  .tooltipTitle {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--primary-color-hover);
  }

  .tooltipContent {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;

    li {
      margin-bottom: 5px;
      color: var(--contrast-color);
    }

    .tooltipLabel {
      font-weight: 400;
      margin-right: 0.25em;
    }
  }
}

html[dir='rtl'] {
  .rechartsLegendItemText {
    margin-right: 1em;
  }
}

.axis {
  color: var(--contrast-color);
}

.pieChartContainer {
  display: flex;
  .customPieLegendContainer {
    width: 40%;
    flex: 40% 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px 0 30px;
    .customPieLegend {
      display: flex;
      text-align: left;
      align-items: center;
      margin: 0 0 15px;

      .square {
        width: 11px;
        height: 11px;
        border-radius: 50px;
        margin-right: 20px;
      }
      .title {
        color: var(--contrast-color);
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        width: 100%;
        align-items: center;
        p {
          margin: 0;
          width: 80%;
        }
        span {
          margin-left: auto;
          color: var(--label-color);
          font-weight: 400;
        }
      }
    }
  }
  .customPieCartContainer {
    width: 60%;
    flex: 60%;
  }
}

.customizeLabel {
  // background-color: red;
  circle {
    stroke: var(--primary-color);
  }
  text {
    fill: var(--primary-color) !important;
  }
}

.customTooltip {
  max-width: 230px;
  display: flex;
  align-items: center;
  .title {
    font-size: 16px;
    color: var(--contrast-color);
    text-align: left;
  }
  .count {
    color: var(--primary-color);
    font-size: 14px;
    margin-left: 8px;
  }
}

html[dir='rtl'] {
  .pieChartContainer {
    flex-direction: row-reverse;
    .customPieLegendContainer {
      // flex-direction: column-reverse;
      .customPieLegend {
        flex-direction: row-reverse;
        .square {
          margin: 0 0 0 20px;
        }
        .title {
          flex-direction: row-reverse;
          span {
            margin-right: auto;
          }
          p {
            direction: rtl;
            text-align: right;
          }
        }
      }
    }
  }
  .customTooltip {
    flex-direction: row-reverse;
    .title {
      text-align: right;
    }
    .count {
      margin: 0 8px 0 0;
    }
  }
}
