.tooltip {
  position: fixed;
  justify-content: center;
  align-items: center;
  background: var(--tooltip);
  color: var(--hard-light);
  padding: 0.5em;
  border-radius: 0.5em;
  transform: translate(-25%, calc(100% + 8px));
  transition: 1s ease all;
  min-width: 80px;
  z-index: 9999;
  width: unset !important;
  span {
    text-align: center;
  }
}
