.tableBody {
  min-width: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  .accordionWrapper {
    &.headerStyles {
      background-color: transparent;
      > .accordionStyles {
        background: transparent;
        box-shadow: none;
        > .rowSelf {
          padding: 0 0 15px 15px;
          .rowItem {
            font-size: 18px;
            font-weight: 500;
            color: var(--reversed-text-color);
          }
        }
        > .userDetail {
          border: none;
          padding: 0;
        }
        &:hover {
          box-shadow: none;
        }
      }
    }
    &.headerLeft {
      background-color: transparent;
      > .accordionStyles {
        background: transparent;
        box-shadow: none;
        flex-direction: row;
        display: flex;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        margin-bottom: 0;
        padding: 15px 0;
        > .rowSelf {
          padding: 0;

          .rowItem {
            text-align: right;
            justify-content: flex-end;
            align-items: baseline;
            border-right: 1px solid #ddd;
            padding: 15px;
            &.actionButtons {
              border: none;
              padding: 0;
            }
          }
          .rowItemHeader {
            padding-left: 50px;
          }
        }
        .userDetail {
          border: none;
          padding: 0;
        }
        &:hover {
          box-shadow: none;
        }
      }
    }
    &.accordionWrapperTransparent {
      .accordionStyles {
        background-color: transparent;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &.headerStylesGrid {
      > .accordionStyles {
        > .rowSelf {
          .rowItem {
            padding-left: 35px;
            &.actionButtons {
              padding-left: 0;
            }
          }
        }
      }
    }
    &.accordionWrapperStyle2 {
      .accordionStyles {
        background-color: transparent;
        box-shadow: none;
        &:hover {
          background-color: var(--box-bg);
        }
      }
    }
    &.accordionWrapperMini {
      .accordionStyles {
        background-color: transparent;
        box-shadow: none;
        .rowSelf {
          padding: 0 0;
        }
        &:hover {
          background-color: var(--box-bg);
          box-shadow: none;
        }
      }
    }
    &.accordionWrapperBorder {
      .accordionStyles {
        box-shadow: none;
        background-color: transparent;
        border-bottom: 1px solid var(--label-color);
        border-radius: 0;
        margin: 0 0;

        .rowSelf {
          padding: 0 15px;
          .rowItem {
            font-weight: normal;
            font-size: 14px;
          }
        }
        &:last-child {
          border: none;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    &.accordionWrapperAllExpanded {
      background-color: transparent;
      .accordionStyles {
        background: transparent;
        box-shadow: none;
        .userDetail {
          border: none;
          padding: 0;
        }
        &:hover {
          box-shadow: none;
        }
      }
    }

    // gallery start
    &.galleryView {
      display: flex;
      margin: 0;
      padding: 0 0 5px;
      flex-wrap: wrap;
      .accordionStyles {
        box-shadow: var(--box-shadow);
        border: none;
        background-color: var(--box-bg);
        width: 12.5%;
        margin: 0 15px 15px;
        &:last-child {
          margin-bottom: 15px;
        }

        .rowSelf {
          padding: 0;
          height: 100%;
          .expandIcon {
            display: none;
          }
          .accordionSummary {
            padding: 15px 15px 5px;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .rowItem {
              &.rowItemIcon {
                text-align: center;
                justify-content: center;
                img {
                  width: 53px;
                }
              }
              &.rowItemTitle {
                font-size: 18px;
                margin: 15px 0 10px;
                color: var(--contrast-color);
              }
              &.labelListItem {
                font-size: 12px;
                display: flex;
                align-items: center;
                margin-bottom: 3px;
                color: var(--label-color);
                p {
                  margin: 0 10px 0 0;
                  font-weight: 500;
                  flex: 1;
                  span {
                    flex: auto;
                  }
                }
                span {
                  flex: 1;
                  &.labelListItemIcon {
                    margin: 3px 0;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    p {
                      margin: 0 10px 0 0;
                    }
                    span {
                      margin: 0;
                    }
                  }
                }
              }
              &.actionButtons {
                display: flex;
                margin: 0;
                justify-content: flex-end;
              }
            }

            .accordionSummaryData {
              flex-direction: column;
            }
            .actionButtons {
              margin: auto;
            }
          }
        }
      }
    }
    // gallery start
    &.grids {
      display: flex;
      margin: 0;
      padding: 0 0 15px;
      flex-wrap: wrap;
      .accordionStyles {
        margin: 0 0 15px;
      }
    }

    &.disabledTable {
      .accordionStyles {
        background-color: var(--primary-table);
        cursor: not-allowed;
        .rowSelf {
          cursor: not-allowed;

          .accordionSummary {
            cursor: not-allowed;
          }
        }
      }
    }
    // gallery view end
    margin-bottom: 1em;
    transition: all 0.5s;
    .accordionStyles {
      border-radius: 5px;
      background-color: var(--box-bg);
      margin-bottom: 16px;
      box-shadow: none;
      border: none;
      box-shadow: var(--box-shadow);
      width: 100%;
      padding: 6px 0;
      transition: all 0.5s;
      .accordionStyles {
        box-shadow: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.col6 {
        margin-bottom: 0;
      }

      &.col6 {
        width: 50%;
      }
      &.col12 {
        width: 100%;
      }
      &.col4 {
        width: 25%;
      }
      &.col3 {
        width: 33.3%;
      }
      &.col2 {
        width: 16, 6%;
      }

      &.acordionDisable {
        background: #dddddd75;
      }
      &.acordionSelected {
        background-color: var(--box-bg);
        box-shadow: var(--box-shadow-hover);
      }
      &.disabledRow {
        opacity: 0.9;
        background-color: var(--box-bg-disabled);
        display: none;
      }
      &.disabledRowShow {
        display: block;
        background-color: var(--box-bg-disabled);
      }
      .userDetail {
        border-top: 1px solid #dddddd75;
        display: flex;
        flex-direction: column;
        padding: 15px;
        .userAddSide {
          padding: 0 15px 15px;
          .userAddSideTop {
            display: flex;
            justify-content: flex-end;
          }
          //   .userAddSideBottom {
          //   }
          .buttonSide {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
          }
        }
        .userItem {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          padding: 0 15px;
          &.isTemp {
            background-color: pink;
          }
          &.passiveItem {
            opacity: 0.4;
          }
          .userItemLeft {
            display: flex;
            align-items: center;
            min-width: 250px;
          }
          .userItemMiddle {
            color: blue;
            span {
              background-color: #c4e1c6;
              padding: 6px 12px;
              border-radius: 5px;
              color: #289230;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                margin-right: 5px;
                color: #289230;
              }
            }
            &.userItemMiddleUn {
              span {
                background-color: #ebedfd;
                color: #676ea5;
              }
            }
            &.userItemMiddleTemp {
              span {
                background-color: #fbead6;
                color: #b87c6c;
              }
            }
          }
          &:hover {
            background-color: var(--body-bg);
            .userItemRight {
              opacity: 1;
            }
          }
          .userItemRight {
            justify-self: flex-end;
            margin-left: auto;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            opacity: 0;
            button {
              color: var(--general-button-color);
              &.selectTeamLeader {
                background-color: #c4e1c6;
                padding: 6px 12px;
                border-radius: 5px;
                color: #289230;
                font-size: 12px;
                svg {
                  color: #289230;
                }
              }
            }
          }
          &:nth-child(1n + 1) {
            .avatar {
              background-color: #9da1d4;
            }
          }
          &:nth-child(2n + 0) {
            .avatar {
              background-color: #c68d92;
            }
          }
          &:nth-child(3n + 0) {
            .avatar {
              background-color: #e9a425;
            }
          }
          &:nth-child(4n + 0) {
            .avatar {
              background-color: #a1b2a1;
            }
          }
          &:nth-child(5n + 0) {
            .avatar {
              background-color: #d9534f;
            }
          }
          &:nth-child(6n + 0) {
            .avatar {
              background-color: #56c0e0;
            }
          }
          &:nth-child(7n + 0) {
            .avatar {
              background-color: #5cb85c;
            }
          }
          &:nth-child(8n + 0) {
            .avatar {
              background-color: #1c7cd5;
            }
          }
          &:nth-child(9n + 0) {
            .avatar {
              background-color: #fcf7e4;
            }
          }
          &:nth-child(8n + 0) {
            .avatar {
              background-color: #efdfdf;
            }
          }
          span {
            margin-left: 15px;
          }
        }
      }
      &:hover {
        box-shadow: var(--box-shadow-hover);
        .rowSelf {
          .rowItem {
            &.actionButtons {
              opacity: 1;
              button {
                opacity: 1;
              }
            }
          }
        }
      }
      &:before {
        display: none;
      }
      .rowSelf {
        padding: 0 15px;
        margin: 0;
        align-items: stretch;
        transition: all 0.5s;
        min-height: auto;
        .rowSelfContent {
          width: 100%;
          margin: 0;
          transition: all 0.5s;
        }
        .accordionSummary {
          display: flex;
          width: 100%;
          transition: all 0.5s;
          .accordionSummaryData {
            display: flex;
            width: 100%;
            transition: all 0.5s;
          }
        }
        .rowItem {
          color: var(--contrast-color);
          display: flex;
          align-items: center;
          transition: all 0.5s;
          position: relative;
          word-break: normal;
          padding: 0 4px;
          &.rowItemCenter {
            text-align: center;
            justify-content: center;
          }
          &.rowItemCenterEnd {
            justify-content: end;
            margin-left: auto;
          }
          &.actionButtons {
            justify-self: flex-end;
            margin-left: auto;
            min-width: 0;
            min-width: auto;
            opacity: 1;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

.AllUserList {
  padding: 0 15px;
  border-top: 1px solid #dddddd75;
  max-height: 270px;
  overflow-x: auto;
  margin-bottom: 15px;
  .col {
    padding: 0 15px;
  }
  .userListItem {
    background: var(--body-bg);
    padding: 15px 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    margin: 0 0 12px;
    height: calc(100% - 15px);
    .userListItemIn {
      display: flex;
    }
    &.passiveItem {
      opacity: 0.4;
    }
    // &.isTempItem{

    // }

    .avatar {
      flex: inherit;
      background-color: var(--general-button-color);
      margin: 0 10px 0;
      margin-left: 0;
      img {
        width: 24px;
        filter: brightness(0) invert(1);
      }
      &::before {
        opacity: 1;
      }
    }
    .text {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        font-size: 14px;
        color: var(--contrast-color);
        overflow: hidden;
        max-height: 20px;
        margin-bottom: 5px;
      }
      .userRoles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .userRolesName {
          flex: 50% 1;
          font-size: 11px;
          color: var(--label-color);
          overflow: hidden;
          margin-bottom: 4px;
          strong {
            margin-right: 7px;
          }
        }
      }
    }
    .add {
      position: absolute;
      right: -7px;
      top: -7px;
      background-color: var(--success);
      opacity: 0.6;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }

      button {
        color: var(--button-text-color-rezerve);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 0;
        svg {
          font-size: 16px;
        }
      }
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
  &.passiveItem {
    opacity: 0.4;
  }
  &.isTempItem {
    .icon {
      background: #fbead6;
      svg {
        color: #b87c6c;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: 6%;
    top: 6%;
    height: 88%;
    width: 88%;
    border: 1px solid var(--grey--bh-color);
    z-index: 9;
    display: flex;
    border-radius: 50px;
    opacity: 0;
  }
  //   span {
  //   }
  .icon {
    position: absolute;
    right: -12px;
    top: -12px;
    background: var(--box-bg);
    color: var(--contrast-color);
    border-radius: 12px;
    width: 28px;
    height: 28px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .deleteUser {
    position: absolute;
    right: -12px;
    bottom: -12px;
    color: var(--button-text-color-rezerve);
    border-radius: 12px;
    width: 28px;
    height: 28px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--danger);
    opacity: 0;
  }
  &:hover {
    .deleteUser {
      opacity: 1;
    }
  }
  &:nth-child(1n + 1) {
    background-color: #9da1d4;
  }
  &:nth-child(2n + 0) {
    background-color: #c68d92;
  }
  &:nth-child(3n + 0) {
    background-color: #e9a425;
  }
  &:nth-child(4n + 0) {
    background-color: #a1b2a1;
  }
  &:nth-child(5n + 0) {
    background-color: #d9534f;
  }
  &:nth-child(6n + 0) {
    background-color: #56c0e0;
  }
  &:nth-child(7n + 0) {
    background-color: #5cb85c;
  }
  &:nth-child(8n + 0) {
    background-color: #1c7cd5;
  }
  &:nth-child(9n + 0) {
    background-color: #fcf7e4;
  }
  &:nth-child(8n + 0) {
    background-color: #efdfdf;
  }
}

.ekipinput {
  padding: 15px 0 10px;
  margin-bottom: 8px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--box-bg);

  input {
    padding: 13px 15px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    background-color: var(--header-bg-front);
    color: var(--contrast-color);
    &::placeholder {
      color: var(--contrast-color);
    }
  }
}

.checkbox2 {
  width: 50px;
}

.dataNotFound {
  display: flex;
  justify-content: center;
  min-height: 300px;
  align-items: center;
  width: 100%;
}

html[dir='rtl'] {
  .tableBody {
    .accordionWrapper {
      .accordionStyles {
        .rowSelf {
          .rowItem {
            text-align: right;
            &.rowItemCenterEnd {
              justify-content: end;
              margin-left: inherit;
              margin-right: auto;
            }
          }
        }
      }

      &.headerStyles {
        > .accordionStyles {
          > .rowSelf {
            padding: 0 15px 15px 0;
          }
        }
      }
      &.headerLeft {
        > .accordionStyles {
          > .rowSelf {
            .rowItem {
              border-right: none;
              border-left: 1px solid #ddd;
            }
          }
          .userDetail {
            border: none;
            padding: 0;
          }
          &:hover {
            box-shadow: none;
          }
        }
      }
      &.headerStylesGrid {
        > .accordionStyles {
          > .rowSelf {
            .rowItem {
              padding: 0 48px 0 0;
              &.actionButtons {
                padding: 0 10px 0 0;
              }
            }
          }
        }
      }
    }
  }

  .rowCheckboxGalleryView {
    width: 100%;
  }
}

.expandMoreIcon {
  transform: rotate(0deg);
}

div[class*='Mui-expanded'] {
  // when the accordion is expanded
  div[class*='MuiAccordionSummary-expandIcon'][class*='Mui-expanded'] {
    transform: rotate(0deg);
  }

  svg[class*='expandMoreIcon'] {
    transform: rotate(180deg);
  }
}
