.headerWrapper {
  margin-bottom: 1em;
  padding: 5px 15px;
  display: flex;
  &.headerStyles {
    margin-bottom: 0;
    padding: 0;
  }
  &.headerWrapperGalleryView {
    margin: 0;
    padding: 0;
  }
  &.accordionWrapperMini {
    margin: 0;
    padding: 10px 0;
  }

  .headerItem {
    font-weight: 500;
    color: var(--primary-color80);
    padding: 0 4px;
    position: relative;
    &.headerItemCenter {
      text-align: center;
    }
  }
}

.checkbox {
  width: 50px;
}

html[dir='rtl'] {
  .headerWrapper {
    .headerItem {
      text-align: right;
      &.headerItemCenter {
        text-align: center;
      }
    }
  }
  .checkbox {
    left: auto;
    right: 2px;
  }
}
