.accordionTableContent {
  overflow: auto;
  padding: 0 15px;
  &.accordionWrapperMini {
    padding: 0;
  }
  .accordionTableContent {
    padding: 0;
    // z-index: 9999;
  }
  &.headerStyles {
    padding: 0 0;
  }
}
