.accordionBody {
  .MuiAccordionSummary-expandIcon {
    display: none;
  }
}
.rowMainFlex {
  .MuiCollapse-container {
    flex: 1;
  }
}

.headerLeft {
  .rowMain {
    &:first-child {
      .headerWrapper {
        display: flex;
      }
    }
    .headerWrapper {
      display: none;
    }
  }
}
