.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
  background-color: var(--grey-bg-color);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75em 1em;
  margin: 0 0.5em;
  font-weight: 500;
  position: relative;
  border-radius: 4px;

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:active {
    transform: translateY(1px);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.outlined {
    background: transparent;
    border: 1px solid var(--grey--border-color);
    color: var(--grey--border-color);
    &.noBorder {
      border: none;
    }
    &.hasBg {
      border-color: var(--primary-color);
      background-color: transparent;
      color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color);
        color: var(--button-text-color-rezerve);
      }
    }
    &.linkColor {
      border-color: var(--linkColor);
      background-color: transparent;
      color: var(--linkColor);
      &:hover {
        background-color: var(--linkColor);
        color: var(--button-text-color-rezerve);
      }
    }
    &.success {
      border-color: var(--success);
      background-color: transparent;
      color: var(--success);
      &:hover {
        background-color: var(--success);
        color: var(--button-text-color-rezerve);
      }
    }
    &.danger {
      border-color: var(--danger);
      background-color: transparent;
      color: var(--danger);
      &:hover {
        background-color: var(--danger);
        color: var(--button-text-color-rezerve);
      }
    }
    &.warning {
      border-color: var(--warning);
      background-color: transparent;
      color: var(--warning);
      &:hover {
        background-color: var(--warning);
        color: var(--button-text-color);
      }
    }
    &.info {
      border-color: var(--info);
      background-color: transparent;
      color: var(--info);
      &:hover {
        background-color: var(--info);
        color: var(--button-text-color-rezerve);
      }
    }
    &.secondary {
      border-color: var(--secondary);
      background-color: transparent;
      color: var(--secondary);
      &:hover {
        background-color: var(--secondary);
        color: var(--button-text-color-rezerve);
      }
    }
  }

  &.grey {
    background-color: var(--grey-bg);
    color: var(--general-button-color);
    &.active {
      background-color: var(--grey-bg-hover);
    }
    &:hover {
      background-color: var(--grey-bg-hover);
    }
  }
  &.hasBg {
    background-color: var(--primary-color);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }
  &.linkColor {
    background-color: var(--linkColor);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--linkColor);
    }
  }
  &.success {
    background-color: var(--success);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--success-hover);
    }
  }
  &.danger {
    background-color: var(--danger);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--danger-hover);
    }
  }
  &.warning {
    background-color: var(--warning);
    &:hover {
      background-color: var(--warning-hover);
    }
  }
  &.info {
    background-color: var(--info);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--info-hover);
    }
  }
  &.secondary {
    background-color: var(--secondary);
    color: var(--button-text-color-rezerve);
    &:hover {
      background-color: var(--secondary-hover);
    }
  }

  &.small {
    padding: 0.15em 0.6em;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
  }

  &.large {
    padding: 0.95em 1.3em;
    font-size: 16px;
    font-weight: 500;
  }

  &.light {
    background-color: transparent;
    color: var(--contrast-color);

    &:hover {
      color: var(--contrast-color);
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.onlyIcon {
    svg {
      margin-right: 0;
    }
    &.grey {
      svg {
        color: var(--t-action);
      }
    }
  }

  svg {
    margin-right: 0.25em;
  }
  &.justTextColor {
    background-color: transparent;
    svg {
      font-size: 1.2em;
    }
    &:hover {
      background-color: transparent;
    }
    &.hasBg {
      color: var(--primary-color);
      svg {
        color: var(--primary-color);
      }
    }
    &.linkColor {
      color: var(--linkColor);
      svg {
        color: var(--linkColor);
      }
    }
    &.success {
      color: var(--success);
      svg {
        color: var(--success);
      }
    }
    &.danger {
      color: var(--danger);
      svg {
        color: var(--danger);
      }
    }
    &.warning {
      color: var(--warning);
      svg {
        color: var(--warning);
      }
    }
    &.info {
      color: var(--info);
      svg {
        color: var(--info);
      }
    }
    &.secondary {
      color: var(--secondary);
      svg {
        color: var(--secondary);
      }
    }
  }

  &.circle {
    border-radius: 50px;
    padding: 0.15em 0.5em;
    &.onlyIcon {
      padding: 0.643em 0.643em;
    }
  }
  &.noBg {
    background-color: transparent;
    &:hover {
      background-color: transparent !important;
    }
    &.generalButtonColor {
      color: var(--general-button-color);
      svg {
        color: var(--general-button-color);
      }
    }
    &.hasBg {
      color: var(--primary-color);
      svg {
        color: var(--primary-color);
      }
    }
    &.linkColor {
      color: var(--linkColor);
      svg {
        color: var(--linkColor);
      }
    }
    &.success {
      color: var(--success);
      svg {
        color: var(--success);
      }
    }
    &.danger {
      color: var(--danger);
      svg {
        color: var(--danger);
      }
    }
    &.warning {
      color: var(--warning);
      svg {
        color: var(--warning);
      }
    }
    &.info {
      color: var(--info);
      svg {
        color: var(--info);
      }
    }
    &.secondary {
      color: var(--secondary);
      svg {
        color: var(--secondary);
      }
    }
  }

  &.xs {
    padding: 6px 6px;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    svg {
      font-size: 1.6em;
    }
  }
}

html[dir='rtl'] {
  .button {
    margin: 0 0 0 8px;
    &:last-child {
      margin: 0;
    }
    &.onlyIcon {
      svg {
        margin: 0;
      }
    }

    svg {
      margin-right: initial;
      margin-left: 0.5em;
    }
  }
}
