.popup {
  background: var(--tooltip);
  color: var(--hard-light);
  position: absolute;
  left: 50%;
  top: calc(100% + 5px);
  z-index: 300;
  width: max-content;
  transform: translate(-52%, 0);
  padding: 1em;
  border-radius: 5px;
  cursor: initial;
  white-space: initial;
  display: flex;
  max-width: 100%;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--tooltip) transparent;
    position: absolute;
    bottom: calc(100%);
    left: 50%;
    transform: translate(-50%, 0);
  }
  &.popupRightSide {
    min-width: 135px;
    &:before {
      left: auto;
      right: 0;
      transform: translate(-27px, 0);
    }
  }
}

html[dir='rtl'] {
  .popup {
    transform: translate(-48%, 0);
    text-align: right;
    &.popupRightSide {
      &:before {
        left: 0;
        right: auto;
        transform: translate(27px, 0);
      }
    }
  }
}
