.searchBoxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  .searchBox {
    background-color: var(--header-bg-front);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 5px;
    &.centered {
      width: 60%;
      margin: 0 auto;
    }
    &.inline {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
  }

  .input {
    color: var(--contrast-color) !important;
    input::placeholder {
      color: var(--contrast-color) !important;
    }
  }
  .icon {
    color: var(--contrast-color);
  }
}

html[dir='rtl'] {
  .searchBoxContainer {
    .searchBox {
      &.inline {
        padding: 6px 0;
      }
    }
    .searchBoxFieldLabel {
      transform: none;
    }
  }

  .searchBoxShrink {
    transform-origin: top right;
  }
}
