.noOptionsMessage {
  padding: 11px 16px;
  color: var(--contrast-color);
}

.input {
  display: flex !important;
}

.text-field-asterisk {
  color: var(--danger);
}

.menuItem {
  font-weight: 400;
  color: var(--option);

  &.selected {
    font-weight: 500;
  }

  &.disabled {
    color: var(--disabled);
  }

  .optionContent {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--contrast-color);
    .contentIcons {
      display: flex;
    }
  }
}

.valueContainer {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  input {
    color: var(--contrast-color) !important;
  }
}

.chip {
  margin: 0 0.15em !important;
  height: 19px !important;
  svg {
    fill: var(--label-color);
  }
}

.indicatorButton {
  display: flex;
  box-sizing: border-box;
  color: var(--select-indicator);
  transition: color 150ms;

  &.focused {
    color: var(--select-indicator-focus);

    &:hover {
      color: var(--select-indicator-focus-hover);
    }
  }

  &:hover {
    color: var(--select-indicator-hover);
    transition: color 150ms;
  }
}

html[dir='rtl'] {
  .menuItem {
    &.selected {
      font-weight: 600;
    }
  }
}
