.checkboxBlock {
  width: 100%;
  display: flex;
  align-items: center;
  &.checkboxBlockAuto {
    width: auto;
  }
  &.checkboxBlockLabel {
    padding: 0.75em 2px;
  }
  .checkboxLalbelContainer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &.checkboxLalbelContainerPlace {
      justify-content: start;
    }
    .checkboxLalbel {
      margin-left: 8px;
      color: var(--label-color);
      font-size: 14px;
    }
  }
  .checkbox {
    padding: 0;
    color: var(--primary-color);

    &:hover {
      background-color: transparent;
    }
  }

  span[class~='MuiCheckbox-root'][class~='Mui-checked'] {
    // styling the color of the checkbox when it is checked.
    color: var(--primary-color);
  }

  .checked {
    &:hover {
      background-color: transparent !important;
    }
  }
}

html[dir='rtl'] {
  .checkboxBlock {
    .checkboxLalbelContainer {
      .checkboxLalbel {
        margin: 0 8px 0 0;
        text-align: right;
      }
    }
  }
}
