@import '../styles/mixins';

.text-field-asterisk {
  color: var(--danger);
}

.datepicker-label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: var(--label-color);
  -webkit-transform: translate(0, 20px) scale(1);
  transform: translate(0, 20px) scale(1);
  margin-bottom: 0.5rem;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.datepicker-focused {
  -webkit-transform: translate(0, 1.5px) scale(0.75);
  transform: translate(0, 1.5px) scale(0.75);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.SingleDatePicker_picker__portal,
.DateRangePicker_picker__portal {
  z-index: 9999;
}

.SingleDatePicker,
.DateRangePicker {
  .SingleDatePickerInput,
  .DateRangePickerInput {
    margin-top: 16px;
    background: transparent;
  }
  .DateRangePickerInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .DateRangePickerInput_arrow {
    .spacer-arrow {
      width: 20px;
    }
  }
  .DateInput {
    background: transparent;
    width: 100%;
    .DateInput_input {
      background: transparent;
      border-bottom: 1px solid var(--half-black);
      padding: 2px 0;
      font-weight: unset;
      font-size: 1em;
      -webkit-transition: 0.2s border-bottom ease;
      transition: 0.2s border-bottom ease;

      &:hover {
        border-bottom: 2px solid var(--half-black);
        -webkit-transition: 0.2s border-bottom ease;
        transition: 0.2s border-bottom ease;
      }

      @include placeholder {
        color: var(--label-light);
        opacity: 1;
      }
    }
  }
}
