.container {
  display: flex;
  align-items: center;
  button {
    color: var(--contrast-color);
  }
}
.switchRoot {
  .switchContainer {
    .spanColor {
      color: var(--rack-table-border);
    }
    + .barColor {
      background-color: var(--disabled);
    }
    &.checkkedColor {
      .spanColor {
        color: var(--primary-color);
      }
      + .barColor {
        background-color: var(--primary-colorl10);
      }
    }
  }
  &.switchRootDanger {
    .switchContainer {
      .spanColor {
        color: var(--danger-hover);
      }
      + .barColor {
        background-color: var(--danger);
      }
      &.checkkedColor {
        .spanColor {
          color: var(--success);
        }
        + .barColor {
          background-color: var(--success-hover);
        }
      }
    }
  }
}
