div[class*='customColoredText'][class*='text-field-input'] {
  font-weight: bold;
  font-size: 0.9rem;
}
.textField {
  &.textFieldCenter {
    input {
      text-align: center;
    }
  }
}

.visibilityButton {
  position: absolute;
  right: 8px;
  top: 8px;
  svg {
    color: var(--secondary);
  }
}

html[dir='rtl'] {
  .visibilityButton {
    right: auto;
    left: 0px;
    top: 3px;
  }
}
