.text-field-asterisk {
  color: var(--danger);
}

label[class~='MuiFormLabel-root'] {
  // styling the color of the label in mui textfield
  color: var(--text-field-label-color);
}

label[class~='MuiFormLabel-root'][class~='Mui-disabled'] {
  // styling the color of the label when it is disabled.
  color: var(--disabled);
}

label[class~='MuiFormLabel-root'][class~='Mui-focused'] {
  // styling the color of the label when it is focused.
  color: var(--primary-color);
}

div[class~='MuiInputBase-root']::after {
  // styling the border after the textfield material-ui.
  transform: scaleX(1);
  border-bottom-color: var(--primary-color);
}

input[class~='MuiInput-input'][class~='Mui-disabled'] {
  // styling the value of the input when the input is disabled.
  color: var(--disabled);
}

.text-field-input-root {
  &.text-field-input {
    color: var(--contrast-color);
    word-break: normal;
    &.MuiInputBase-root.Mui-disabled {
      color: var(--disabled);
    }
  }
}

html[dir='rtl'] {
  .text-field-label {
    text-align: right;
    transform: translate(0, 20px) scale(1);
    transform-origin: top right;
  }
  .text-field-shrink {
    text-align: right;
    transform: translate(0, -7px) scale(0.75);
  }
  .text-field-underline {
    margin-top: 10px;
  }
  .text-field-multine {
    padding: 6px 0 3px;
  }
  .outlinedTextfield {
    .text-field-input {
      padding: 4px 3px 0px;
    }
    .text-field-label {
      text-align: right;
      transform: translate(-12px, 20px) scale(1);
    }
    .text-field-shrink {
      text-align: right;
      transform: translate(-10px, -7px) scale(0.75);
    }
  }
}
