.skeletonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &.skeletonContainerHorizontal {
    flex-direction: row;
  }
  &.skeletonContainerMain {
    padding: 8px;
  }
  &.skeletonContainerContainer {
    .skeletonContainer {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

html[dir='rtl'] {
  .skeletonContainer {
    &.skeletonContainerContainer {
      .skeletonContainer {
        margin: 0 0 0 15px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
