.skeletonItem {
  background-color: var(--skeleton-dark);
  background-image: linear-gradient(90deg, var(--skeleton-dark), var(--skeleton-light), var(--skeleton-dark));
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  -webkit-animation: bgAnimation 1.2s ease-in-out infinite;
  animation: bgAnimation 1.2s ease-in-out infinite;
  margin-bottom: 10px;
  flex: 1;
  &:last-child {
    margin-bottom: 0px;
  }
  &.skeletonItemBig {
    background-size: 450px 100%;
  }
  &.skeletonFormItem {
    margin: 16px 0 8px 0;
  }
}

@-webkit-keyframes bgAnimation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes bgAnimation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
