.makeFlex {
  display: flex;
  .dialogContentText {
    color: var(--contrast-color);
  }
}

div[class*='Alert_alertContainer'] {
  background-color: var(--alert-bg);
}

.darkButton {
  color: #000;
}

.dialogHeader {
  display: flex;
  align-items: center;
  color: var(--contrast-color);
  .iconForAlert {
    margin-right: -15px;
    margin-left: 24px;
    svg {
      width: 1.3em;
      height: 1.3em;
      color: var(--warning);
    }
  }
  div {
    max-width: fit-content;
  }
}

html[dir='rtl'] {
  .iconForAlert {
    margin-left: -15px;
    margin-right: 24px;
  }
}
