.notFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  svg {
    font-size: 45px;
    color: var(--label-color);
    margin-bottom: 15px;
    filter: drop-shadow(3px 4px 3px var(--label-color));
  }
  span {
    font-size: 18px;
    color: var(--label-color);
    background-color: transparent;
    padding: 0;
    filter: drop-shadow(2px 2px 7px var(--label-color));
  }
}
