@import './_breakpoints.scss';
@import './_colors.scss';
@import './_mixins.scss';
@import './_variables.scss';

html,
body,
#main {
  width: 100%;
  height: 100%;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;

  &:disabled {
    cursor: unset;
  }

  &:focus {
    outline: 0;
  }
}

body {
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.no-padding {
  padding: 0;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  font-weight: 500;
  padding-bottom: 0.6em;
}

@include media-breakpoint-down(lg) {
  .hide-on-lg {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .hide-on-md {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .hide-on-sm {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .hide-on-xs {
    display: none;
  }
}
.MuiDialog-paper {
  .MuiPickersBasePicker-container {
    .MuiPickersToolbar-toolbar {
      background-color: var(--primary-color);
    }
    .MuiPickersDay-daySelected {
      background-color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color-hover);
      }
    }
  }
  .MuiButton-textPrimary {
    color: var(--primary-color);
  }
}

.recharts-wrapper {
  .recharts-layer {
    text {
      fill: var(--contrast-color);
    }
  }
}

html[dir='rtl'] {
  body {
    font-family: 'DroidKufi', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-size: 13px;
  }

  .MuiDrawer-paperAnchorLeft {
    left: 0;
    right: auto;
  }
}
