.notificationAlert {
  background: var(--successl35);
  border-radius: 0.25em;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;

  &.danger {
    background: var(--dangerl20);
    color: var(--dangerd10);
  }

  svg {
    margin-right: 0.3em;
  }
}
