.actionButton {
  padding: 0.25em;
  color: var(--black600);
  cursor: pointer;
  margin: 0 0.25em;
  display: flex;
  position: relative;

  svg {
    font-size: 1.2em;
  }

  &:disabled,
  &[disabled] {
    color: var(--t-actionl10);
    cursor: not-allowed;
  }

  &:hover {
    color: var(--t-actiond20);
  }
}

.tooltip {
  position: fixed;
  justify-content: center;
  align-items: center;
  background: var(--tooltip);
  padding: 0.5em 0;
  border-radius: 0.5em;
  transform: translate(-25%, calc(25% + 8px));
  transition: 1s ease all;
  min-width: 80px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  .header {
    padding: 0 15px 5px;
    display: flex;
    align-items: center;
    color: var(--hard-light);
    border-bottom: var(--label-color);
    .title {
      color: var(--hard-light);
    }
    .icon {
      position: relative;
      top: 2px;
      margin-right: 5px;
      svg {
        color: var(--hard-light);
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
  }
  &.tooltipLight {
    background-color: var(--box-bg);
    box-shadow: var(--box-shadow);
    .header {
      color: var(--contrast-color);
      .title {
        color: var(--contrast-color);
      }
      .icon {
        svg {
          color: var(--contrast-color);
        }
      }
    }
  }

  span {
    text-align: center;
    font-size: 1em !important;
  }
}
