.vtContainer {
  position: absolute;
  right: 0;
  z-index: 100;
  transform: rotate(90deg) translate(100%, 100%);
  transform-origin: right bottom;
  display: flex;
  top: 0;
}

html[dir='rtl'] {
  .vtContainer {
    right: initial;
    left: 0;
    transform: rotate(90deg) translate(0, 0);
    transform-origin: left bottom;
    flex-direction: row-reverse;
  }
}
