.selectFieldContainer {
  width: 100%;
  align-items: center;
  position: relative;
  padding: 15px 0 6px;
  margin: 15px 0 6px;
  // value side
  .selectSide {
    display: flex;
    padding: 5px 0;
    position: relative;
    min-height: 40px;
    justify-content: space-between;

    &::before {
      left: 0;
      right: 0;
      bottom: 0;
      content: '\00a0';
      position: absolute;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid var(--contrast-color);
      pointer-events: none;
    }
    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      border-bottom: 2px solid var(--primary-color);
      pointer-events: none;
    }

    &.selectSideHover {
      &::after {
        transform: scaleX(1);
      }
      .labelSide {
        color: var(--primary-color);
      }
    }

    &.selectSideSelected,
    &.selectSideHover {
      .labelSide {
        top: -13px;
        left: 0;
        font-size: 14px;
      }
    }

    .labelSide {
      font-size: 16px;
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      position: absolute;
      top: 9px;
      left: 0;
      color: var(--label-color);
    }
    .valueSide {
      min-height: 40px;
      width: 100%;
      max-width: 100%;
      .valueSideOverflew {
        display: flex;
        width: 100%;
        padding: 4px 0;
        flex-wrap: wrap;
        .valueItem {
          display: flex;
          color: var(--contrast-color);
          background-color: #e0e0e0;
          font-size: 13px;
          margin-right: 5px;
          border-radius: 15px;
          padding: 0 7px;
          min-width: fit-content;
          max-width: fit-content;
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          button {
            padding: 0;
          }
          .clearItem {
            position: relative;
            top: -3px;
            padding: 0;
            height: 19px;
            margin-left: 5px;
            svg {
              color: rgba(0, 0, 0, 0.26);
              font-size: 23px;
              margin: 0;
            }
          }
        }
      }
    }

    .values {
      flex: 1 1;
      font-size: 16px;
      text-align: left;
      padding: 0;
      max-width: calc(100% - 62px);
    }
    .iconSide {
      display: flex;
      .clearButton {
        svg {
          font-size: 20px;
        }
      }
      svg {
        color: var(--label-color);
      }
    }
  }
  .listTitle {
    color: var(--primary-color);
  }
  // options
  .options {
    position: absolute;
    top: 100%;
    border-radius: 5px;
    right: 0;
    background: var(--box-bg);
    width: 100%;
    box-shadow: var(--box-shadow);
    z-index: 999;
    color: var(--black600);
    padding: 8px 0;
    max-height: 289px;
    overflow: auto;
    &.optionsList {
      position: relative;
      margin-top: 15px;
      border-radius: 0;
      .optionsItem {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        margin: 0;
      }
    }
    .optionsItem {
      margin-bottom: 1px;
      padding: 0 15px 0 0;
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
      &.optionsItemHover {
        .optionsButton {
          .textSide {
            color: var(--contrast-color);
          }
        }
      }
      .optionsButton {
        flex: 1;
        text-align: left;
        padding: 0;
        .textSide {
          color: var(--label-color);
          padding-left: 15px;
          height: 100%;
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          .checkboxContainer {
            position: relative;
            width: 35px;
            top: 11px;
            .customCheckbox {
              padding: 0;
              margin: 0;
            }
          }
        }
      }

      .inputSide {
        width: 50px;
        display: flex;
        align-items: center;
      }
      .iconSide {
        justify-content: center;
        display: flex;
        align-items: center;
        .isSelected {
          position: relative;
          margin-right: 8px;
          svg {
            color: var(--label-color);
            color: var(--label-color);
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}

html[dir='rtl'] {
  .selectFieldContainer {
    // value side
    .selectSide {
      &.selectSideSelected,
      &.selectSideHover {
        .labelSide {
          left: auto;
          right: 0;
        }
      }

      .labelSide {
        left: auto;
        right: 0;
      }
      .valueSide {
        .valueSideOverflew {
          .valueItem {
            button {
              padding: 0;
            }
          }
        }
      }
    }
    // options
    .options {
      .optionsItem {
        padding: 0 0 0 15px;
        .optionsButton {
          text-align: right;
          .textSide {
            text-align: right;
          }
        }

        .iconSide {
          .isSelected {
            margin: 0 0 0 8px;
          }
        }
      }
    }
  }
}
