.dragAndDropContainer {
  width: 100%;

  .dragAndDropBase {
    border: 2px dashed var(--primary-color-o5);
    background-color: var(--primary-color-o1);
    height: 130px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: var(--primary-color);
    &.dragAndDropBaseHover {
      border: 2px dashed var(--primary-color-o6);
      background-color: var(--primary-color-o2);
    }
  }
  svg {
    margin-bottom: 8px;
    font-size: 42px;
    color: var(--primary-color) !important;
  }
  span {
    font-size: 16px;
  }
}
